@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Indie Flower', cursive;
}

.text-b {
    color: black;
}

.done_class {
    text-decoration: line-through;
}

.bg_gray {
    background-color: gray;
}

.bg_blue {
    background-color: lightskyblue;
}

.f_em {
    font-size: 1.5em;
}