<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./asset/css/style.css">
    <title>To do</title>
</head>
<body>
    <div id="root">
        <h1 class="text-center m-4 text-uppercase">to do note</h1>

        <div class="d-flex justify-content-center align-content-center my-3 container">
            <input type="text" class="me-3 form-control" placeholder="Scrivi qui le tue note" v-model="newTodo" @keyup.enter="newStringUser">
            <button type="button" class="btn btn-dark" @click="newStringUser">Aggiungi</button>
        </div>

        <div class="container mt-5 rounded-3 bg_gray p-5">
            <div class="w-50 mx-auto" v-if="todos.length > 0">
                <ul>
                    <li class="d-flex mb-3 justify-content-between bg_blue border border-dark align-items-center rounded-3" v-for="(todo, index) in todos" :key="index">
                        <!--Condizione ternaria nel v-bind che ci permette di aggiungere la classe direttamente-->
                        <!--La funzione booleana dell'attributo done che cambia al click di funzione per todo perche siamo nel ciclo for-->
                        <p class="text-b p-3 f_em" :class="(todo.done == true) ? 'done_class' : '' " @click="doneAddRemove(todo)">
                            {{todo.text}}
                        </p>
                        <i class="fa-solid fa-circle-xmark p-3 text-danger mb-3" @click="removeTodo(index)"></i>
                    </li>
                </ul>
            </div>
            <h2 v-else="">Non ci sono voci in lista</h2>
        </div>

    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="./asset/js/main.js"></script>
</body>
</html>